MONGODB_URI=mongodb+srv://talhasaeed:cHyW9vnn9siVty8p@cluster0.9t6abjq.mongodb.net/rnb_collections?appName=Cluster0
PORT=5000
NODE_ENV=development
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5173
ADMIN_NAME=RNB Admin
ADMIN_EMAIL=admin@rnbcollections.com
ADMIN_PASSWORD=CHANGE_THIS_ADMIN_PASSWORD

R2_ACCOUNT_ID=d39355666cd89479b88c32ab4a927054
R2_BUCKET_NAME=rnb-collections
R2_ACCESS_KEY_ID=a61b65d9f79a1f3b2aeb82882bb7da2d
R2_SECRET_ACCESS_KEY=e82a693a2d8a82649ad8c718929869fa09342e9f8971768476284e0304adf4b1
R2_PUBLIC_URL=https://pub-650f005dfb2e415cbe4f6f39ffb7bcdc.r2.dev
